<div class="view-banner">
  <h1 class="banner-h1">Discover Boards</h1>
</div>
<div class="container">
  <div class="display-issues">
    <div class="cards" data-controller="scroll-reveal" >
      <% @issues.each do |issue| %>
        <%= link_to issue_path(issue) do %>
          <div class="issue-index-card reveal" data-scroll-reveal-target="item"style="width: 18rem;">
            <img src="<%= issue.image_url %>" class="issue-img" alt="...">
            <div class="card-body" >
              <div class="issue-text">
                <p class="card-text"> <%= issue.issue_name %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="back-btn">
    <%= link_to "Home", root_path, class: "show-button" %>
    <%= link_to "Back", :back, class: "show-button" %>
  </div>
</div>
