<div class="index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%="http://source.unsplash.com/featured/?pollution&#{rand(10000)}" %>)">
  <h1 class="banner-h1"> <%= @issue.issue_name %></h1>
</div>
<div class="container">
  <div class="issue-info">
    <div class="issue-explanation">
      <p><%= @issue.explanation %></p>
    </div>
    <div class="news-cards">
      <h1 class="news-header"> Recent News</h1>
      <% @issue.news_stories.first(5).each do |news| %>
        <div class="card-news">
          <div class="card-news-head " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= news.image_url %>) ">
          </div>
          <div class="news-card-body">
            <h1><%= news.company  %></h1>
            <p><%= news.title %></p>
            <%= link_to "Read more", news.url %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
