<div class="view-banner">
  <h1 class="banner-h1"></h1>
</div>
<div class="container">
  <div class="favorites">
    <div class="container">
      <div class="product-cards d-flex flex-wrap gap-3 align-self-start ms-5" data-controller="scroll-reveal">
        <% @products.each do |product| %>
          <%= link_to product_path(product) do %>
            <div class="position-relative">
              <%= render "shared/card_product", product: product %>
              <%= link_to  product_favorites_path(product), style: "top: 5px; right: 8px;", class: "position-absolute", data: {turbo_method: :delete} do %>
                <i class="fa fa-trash delete-button" aria-hidden="true"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="back-btn">
    <%= link_to "Home", root_path, class: "show-button" %>
    <%= link_to "Back", :back, class: "show-button" %>
  </div>
</div>
