<style>
  .product-cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
  }
</style>
<div class="view-banner">
  <h1 class="banner-h1"><%= @user.board_label %></h1>
</div>
<div class="creator-info">
  <img src="<%= @user.user_icon %>" class="user-avatar"/>
  <p>Created by <%= @user.username %></p>
</div>
<div class="container">
  <div class="favorites">
    <div class="container d-flex justify-content-center">
      <div class="product-cards-grid" data-controller="scroll-reveal">
        <% @products.each do |product| %>
          <div class="position-relative">
            <%= link_to product_path(product) do %>
              <%= render "shared/card_product", product: product %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
