<div class="card-product reveal" data-scroll-reveal-target="item">
  <div class="card-body-product">
    <div class="card-top">
      <div>
        <h1 class="ticker-h1"> <%= product.ticker %> </h1>
      </div>
      <div>
        <h1 class="esg-h1" title="ESG Score"> <%= product.esg_score %> </h1>
      </div>
    </div>
    <h2 class="product-title truncate">
      <%= product.name %>
    </h2>
    <p> <%= product.sector %> </p>
    <p><%= product.product_type %></p>
    <div class="issue-icons">
      <% product.issues.each do |issue| %>
        <% if issue.icon %>
          <img src="<%= asset_path issue.icon %>" title="<%= issue.issue_name %>"/>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
