<div class="view-banner">
  <h1 class="banner-h1"><%= @product.name %></h1>
</div>
<div class="container">
  <div class="product-top">
    <div class="product-show-buttons">
      <%= simple_form_for(@product, url: toggle_favorite_product_path, method: :post) do |f| %>
        <% if current_user  %>
          <%= f.button  :button, class:"like-button #{'red-button' if current_user.favorited?(@product)}" do %>
            <%= link_to "", product_path(@product), data: {turbo_method: :toggle_favorite, turbo_confirm: "Added to favorites list"} %>
            <i class="fa-solid fa-thumbtack pin-button"></i>
          <% end %>
        <% else %>
          <%=  f.button  :button, as: :submit, class:"like-button", data:{disable_with: false} do %>
            <i class="fa-solid fa-thumbtack pin-button"></i>
          <% end %>
        <% end %>
      <% end %>
      <div class="show-button-mg23">
        <%= link_to 'Engage', @product.web_url, class: "show-button", target: :_blank %>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-around">
    <div class="description-card">
      <h2>About</h2>
      <p id="description-text"><%= @product.description %></p>
    </div>
    <div>
      <iframe class="company-video" width="490" height="275" src="https://www.youtube.com/embed/<%= @product.youtube_url%>?autoplay=1&mute=1&enablejsapi=1" frameborder="0" allowfullscreen autoplay="autoplay" loop="loop" ></iframe>
    </div>
  </div>
  <div class="container mt-3" data-controller="scroll-reveal">
    <div class="company-about-us-section reveal" data-scroll-reveal-target="item">
      <div class="company-about-us-img-div">
        <%= image_tag (@product.img_url_1), alt: "invest image", class: "about-us-img" %>
      </div>
      <div class="company-about-us-information">
        <h2>At <%= @product.name %></h2>
        <p><%= @product.company_desc_1 %></p>
      </div>
    </div>
    <div class="company-about-us-section reveal" data-scroll-reveal-target="item"  data-delay="250ms">
      <div class="company-about-us-information">
        <h2>Recent projects</h2>
        <p><%= @product.company_desc_2 %></p>
      </div>
      <div class="company-about-us-img-div">
        <%= image_tag (@product.img_url_2), alt: "invest image", class: "about-us-img" %>
      </div>
    </div>
    <div class="company-about-us-section reveal" data-scroll-reveal-target="item"  data-delay="250ms">
      <div class="company-about-us-img-div">
        <%= image_tag (@product.img_url_3), alt: "invest image", class: "about-us-img" %>
      </div>
      <div class="company-about-us-information" >
        <h2>Why sustainable investment?</h2>
        <p><%= @product.company_desc_3 %></p>
      </div>
    </div>
    <div class="product-focus">
      <h2>Focus</h2>
      <div class="d-flex justify-content-center gap-3 m-1 ">
        <% @product.issues.each do |issue| %>
          <% if issue.icon %>
            <img src="<%= asset_path issue.icon %>" title="<%= issue.issue_name %>"/>
            <p><%= issue.issue_name %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="d-flex justify-content-around reveal" data-scroll-reveal-target="item"  data-delay="250ms">
      <div class="company-about-us-img-div">
        <%= image_tag (@product.img_grid_1), alt: "invest image", class: "company-us-img"%>
      </div>
      <div class="company-about-us-img-div">
        <%= image_tag (@product.img_grid_2), alt: "invest image", class: "company-us-img"%>
      </div>
      <div class="company-about-us-img-div">
        <%= image_tag (@product.img_grid_3), alt: "invest image", class: "company-us-img"%>
      </div>
      <div class="company-about-us-img-div">
        <%= image_tag (@product.img_grid_4), alt: "invest image", class: "company-us-img"%>
      </div>
    </div>
  </div>
</div>
