<div class="product-show">
  <div class="product-top">
    <h1 id="show-header"><%= @product.name %></h1>
    <div class="product-show-buttons">
      <%= simple_form_for(@product, url: toggle_favorite_product_path, method: :post) do |f| %>
        <% if current_user  %>
          <%= f.button  :button, class:"like-button #{'red-button' if current_user.favorited?(@product)}" do %>
            <%= link_to "", product_path(@product), data: {turbo_method: :toggle_favorite, turbo_confirm: "Added to favorites list"} %>
            <i class="fa-solid fa-heart"></i>
          <% end %>
        <% else %>
          <%=  f.button  :button, as: :submit, class:"like-button", data:{disable_with: false} do %>
            <i class="fa-solid fa-heart"></i>
          <% end %>
        <% end %>
      <% end %>
      <div class="show-button-mg">
        <%= link_to 'Support', @product.web_url, class: "show-button" %>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-between">
    <div class="row-company">
      <div class="column-company d-flex">
        <%= image_tag ("certified_b_coporation.jpg"), alt: "invest image", class: "company-images-grid" %>
        <%= image_tag ("plastic_free.jpg"), alt: "invest image", class: "company-images-grid" %>
      </div>
      <div class="column-company d-flex">
        <%= image_tag ("susinstable_restaurant_association.jpg"), alt: "invest image", class: "company-images-grid" %>
        <%= image_tag ("rainforest.jpg"), alt: "invest image", class: "company-images-grid" %>
      </div>
    </div>
    <div class="company-info-flex d-flex flex-column">
      <div class="stock-info">
        <div class="container" style="height: 500px; width: 500px"></div>
        <div class="description-card">
          <p id="description-text"><%= @product.description %></p>
        </div>
      </div>
      <div>
        <iframe class="company-video" width="490" height="275" src="https://www.youtube.com/embed/9_oGPywjwo8" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="container" data-controller="scroll-reveal">
    <div class="about-us-section reveal" data-scroll-reveal-target="item">
      <div class="about-us-img-div">
        <%= image_tag ("pickers.jpg"), alt: "invest image", class: "about-us-img" %>
      </div>
      <div class="about-us-information">
        <h2>About <%= @product.name %></h2>
        <p>Teapig's focus is on real, quality tea, sourced sustainably, in packaging that’s better for the environment. They give back to the communities that source their tea. Teapigs is very proud to be a B Corp certified.</p>
      </div>
    </div>
    <div class="about-us-section reveal" data-scroll-reveal-target="item"  data-delay="250ms">
      <div class="about-us-information">
        <h2>Certified Plastic Free</h2>
        <p>Teapigs are the first tea company awarded the Plastic-Free trustmark from A Plastic Planet. This certifies packaging which is free of conventional plastic derived from fossil fuels. Our 15s and 50s packs of tea temples, our tins of tea and matcha tins are certified plastic-free. You can read more about this here.</p>
      </div>
      <div class="about-us-img-div">
        <%= image_tag ("product_content.jpg"), alt: "invest image", class: "about-us-img" %>
      </div>
    </div>
    <div class="about-us-section reveal" data-scroll-reveal-target="item"  data-delay="250ms">
      <div class="about-us-img-div">
        <%= image_tag ("undraw_Tree.png"), alt: "invest image", class: "about-us-img" %>
      </div>
      <div class="about-us-information" >
        <h2>Why sustainable investment?</h2>
        <p>Sustainable investing is important because it can help contribute to a better world. Investors can put their capital to work in a way that positively influences society so that we move towards a more sustainable future.</p>
      </div>
    </div>
  </div>
</div>
