<div class="product-show">
  <div class="product-top">
    <h1 id="show-header"><%= @product.name %></h1>
    <div class="product-show-buttons">
      <%= simple_form_for(@product, url: toggle_favorite_product_path, method: :post) do |f| %>
        <% if current_user  %>
          <%= f.button  :button, class:"like-button #{'red-button' if current_user.favorited?(@product)}" do %>
            <%= link_to "", product_path(@product), data: {turbo_method: :toggle_favorite, turbo_confirm: "Added to favorites list"} %>
            <i class="fa-solid fa-heart"></i>
          <% end %>
        <% else %>
          <%=  f.button  :button, as: :submit, class:"like-button", data:{disable_with: false} do %>
            <i class="fa-solid fa-heart"></i>
          <% end %>
        <% end %>
      <% end %>
      <div class="show-button-mg">
        <%= link_to 'Support', @product.web_url, class: "show-button" %>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-between">
    <div class="row-company">
      <div class="column-company d-flex">
        <%= image_tag ("certified_b_coporation.jpg"), alt: "invest image", class: "company-images-grid" %>
        <%= image_tag ("plastic_free.jpg"), alt: "invest image", class: "company-images-grid" %>
      </div>
      <div class="column-company d-flex">
        <%= image_tag ("susinstable_restaurant_association.jpg"), alt: "invest image", class: "company-images-grid" %>
        <%= image_tag ("rainforest.jpg"), alt: "invest image", class: "company-images-grid" %>
      </div>
    </div>
    <div class="stock-info">
      <div class="container" style="height: 500px; width: 500px"></div>
      <div class="description-card">
        <p id="description-text"><%= @product.description %></p>
      </div>
    </div>
  </div>
  <div class="container" data-controller="scroll-reveal">
    <div class="about-us-section reveal" data-scroll-reveal-target="item">
      <div class="about-us-img-div">
        <%= image_tag ("undraw_environment_iaus.png"), alt: "invest image", class: "about-us-img" %>
      </div>
      <div class="about-us-information">
        <h2>About us</h2>
        <p>At toFuture we use ESG scores to help find you the most ethically sustainable investment opportuinties. </p>
      </div>
    </div>
    <div class="about-us-section reveal" data-scroll-reveal-target="item"  data-delay="250ms">
      <div class="about-us-information">
        <h2>What are ESG Scores?</h2>
        <p>Enivronmental, Social and Governance or ESG scores are a framework used by many companies to assess and understand a company's priorities as well as long term risks.</p>
      </div>
      <div class="about-us-img-div">
        <%= image_tag ("undraw_The_world_is_mine_re_j5cr.png"), alt: "invest image", class: "about-us-img" %>
      </div>
    </div>
    <div class="about-us-section reveal" data-scroll-reveal-target="item"  data-delay="250ms">
      <div class="about-us-img-div">
        <%= image_tag ("undraw_Tree.png"), alt: "invest image", class: "about-us-img" %>
      </div>
      <div class="about-us-information" >
        <h2>Why sustainable investment?</h2>
        <p>Sustainable investing is important because it can help contribute to a better world. Investors can put their capital to work in a way that positively influences society so that we move towards a more sustainable future.</p>
      </div>
    </div>
  </div>
</div>
