<div class="container" data-controller="compare-products">
  <h1>Comparing products...</h1>
  <table class="sortable">
    <thead>
      <tr class="title">
        <th><%=  "COMPANY" + '<i class="fa-solid fa-sort-down"></i>'.html_safe %> </th>
        <th><%= "ESG SCORE (OVERALL)" + '<i class="fa-solid fa-sort-down"></i>'.html_safe %></th>
        <th><%= "ENVIRONMENT" + '<i class="fa-solid fa-sort-down"></i>'.html_safe %></th>
        <th><%= "SOCIAL" + '<i class="fa-solid fa-sort-down"></i>'.html_safe %></th>
        <th><%= "GOVERNANCE" + '<i class="fa-solid fa-sort-down"></i>'.html_safe %></th>
      </tr>
    </thead>
    <tbody>
      <% @compare_products.each do |compare_product| %>
        <tr>
          <div class="product">
            <% product = compare_product.product %>
            <td> <%= product.name %> / <%= product.ticker %>
              <%= link_to compare_product_path(compare_product), data: {turbo_method: :delete} do %>
                <i class="fa fa-trash delete-button" aria-hidden="true"></i>
              <% end %>
            </td>
            <td class="esg_score"> <%= product.esg_score %></td>
            <td class="er_score">  <%= product.er_score %></td>
            <td class="sr_score">  <%= product.sr_score %></td>
            <td class="gr_score">  <%= product.gr_score %></td>
          </div>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="back-btn">
    <%= link_to "Home", root_path, class: "show-button" %>
    <%= link_to "Back", :back, class: "show-button" %>
  </div>
</div>
