<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner.jpg" %>);">
  <div class="home-navbar">
    <%= render "shared/navbar" %>
  </div>
  <div class="banner-container">
    <div class="banner-content">
      <h1 class="banner-h1">toFuture</h1>
      <p>Invest in <strong>change</strong>.</p>
      <div class="col-sm-4">
        <div class="searchbar">
          <%= form_tag search_path, method: :get, class: "d-flex my-3" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Search"%>
            <%= submit_tag "Search", class: "btn btn-ghost"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="trending">
    <h2>Suggested Topics</h2>
    <div class="trending-btn">
      <a class="btn btn-flat" href="#">Topic Name</a>
      <a class="btn btn-flat" href="#">Topic Name</a>
      <a class="btn btn-flat" href="#">Topic Name</a>
      <a class="btn btn-flat" href="#">Topic Name</a>
      <a class="btn btn-flat" href="#">Topic Name</a>
      <a class="btn btn-flat" href="#">Topic Name</a>
    </div>
  </div>
