<% if @issues.any? %>
  <div class="container">
    <div class="display-cards">
      <h2 class="page-header">Issues</h2>
      <div class="cards">
        <% @issues.each do |issue| %>
          <%= link_to issue_path(issue) do %>
            <div class="card-product">
              <div class="card-product-infos">
                <div>
                  <h2> <%= issue.issue_name %> </h2>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% if @products.any? %>
  <div class="container">
    <div class="display-cards">
      <h2 class="page-header">Products</h2>
      <div class="cards">
        <% @products.each do |product| %>
          <%= link_to product_path(product) do %>
            <div class="card-product">
              <div class="card-product-infos">
                <div>
                  <h2> <%= product.name %> </h2>
                  <p><%= product.ticker %></p>
                  <p> <%= product.product_type %></p>
                  <p> <%= product.issue_list %> </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
