<% if @issues.any? %>
  <div class="container">
    <div class="display-cards">
      <h2 class="page-header">Issues</h2>
      <div class="cards">
        <% @issues.each do |issue| %>
          <%= link_to issue_path(issue) do %>
            <div class="card-product">
              <div class="card-product-infos">
                <div>
                  <h2> <%= issue.issue_name %> </h2>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% if @products.any? %>
  <div class="container">
    <div class="display-cards">
      <h2 class="page-header">Products</h2>
      <div class="cards">
        <% @products.each do |product| %>
          <%= link_to product_path(product) do %>
            <div class="card-product">
              <div class="card-head">
                <div class="back-text truncate">
                  <%= product.ticker %>
                </div>
              </div>
              <div class="card-body-product">
                <div class="product-desc">
                  <h2 class="product-title truncate">
                    <%= product.name %>
                  </h2>
                  <span class="product-caption">
                  </span>
                </div>
                <p> <%= product.sector %> </p>
                <div class="product-properties">
                  <% product.issue_list.each do |issue| %>
                    <span class="badge truncate">
                      <%= issue %>
                    </span>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
