<div class="view-banner">
  <h1 class="banner-h1">Products</h1>
</div>
<div class="container">
  <div class="d-flex justify-content-center">
    <div class="main-grid d-flex">
      <div class="search-form mb-5">
        <h4>Refine your search:</h4>
        <%= form_tag products_path, method: "GET", html: { class: 'form-inline' } do %>
          <p class="form-sub-heading">Sector:</p>
          <% Product::SECTORS.each do |sector| %>
            <div class="checkbox-style">
              <%= check_box_tag "sectors[]",sector, params[:sectors]&.include?(sector) %>
              <%= label_tag "sectors[]", sector %>
            </div>
          <% end %>
          <p class="form-sub-heading">Products:</p>
          <% Product.product_types.keys.each do |product| %>
            <div class="checkbox-style">
              <%= check_box_tag "product_types[]",product, params[:product_types]&.include?(product) %>
              <%= label_tag "product_types[]", product %>
            </div>
          <% end %>
          <%= submit_tag 'Search', class: "btn btn-flat mt-2" %>
        <% end %>
      </div>
      <div class="product-cards d-flex flex-wrap gap-3 align-self-start ms-5" data-controller="scroll-reveal">
        <% @products.each do |product| %>
          <%= link_to product_path(product) do %>
            <div class="card-product reveal" data-scroll-reveal-target="item">
              <div class="card-body-product">
                <div class="card-top">
                  <div>
                    <h1 class="ticker-h1"> <%= product.ticker %> </h1>
                  </div>
                  <div>
                    <h1 class="esg-h1"> <%= product.esg_score %> </h1>
                  </div>
                </div>
                <h2 class="product-title truncate">
                  <%= product.name %>
                </h2>
                <p> <%= product.sector %> </p>
                <p><%= product.product_type %></p>
                <div class="issue-icons">
                  <% product.issues.each do |issue| %>
                    <% if issue.icon %>
                      <img src="<%= asset_path issue.icon %>"/>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="back-btn">
    <%= link_to "Home", root_path, class: "show-button" %>
    <%= link_to "Back", :back, class: "show-button" %>
  </div>
</div>
<%#= collection_check_boxes :sector,  as: :check_boxes, input_html: {value: ""}, label: "Choose an industry" %>
<%#= f.input :product_type, collection: Product.product_types.keys, as: :check_boxes, input_html: {value: ""}, label: "Choose a product type" %>
