<div class="view-banner">
  <h1 class="banner-h1">Discover Pins</h1>
</div>
<div class="container">
  <div class="d-flex">
    <div class="main-grid d-flex">
      <div class="search-form mb-5">
        <h4>Refine your search:</h4>
        <%= form_tag products_path, method: "GET", html: { class: 'form-inline' } do %>
          <p class="form-sub-heading">Sector:</p>
          <% Product::SECTOR_LABELS.each do |sector| %>
            <div class="checkbox-style align-items-start my-1">
              <%= check_box_tag "sectors[]",sector.upcase, params[:sectors]&.include?(sector.upcase), class:"mt-2" %>
              <%= label_tag "sectors[]", sector, class:"text-start" %>
            </div>
          <% end %>
          <p class="form-sub-heading">Products:</p>
          <% Product.product_types.keys.each do |product| %>
            <div class="checkbox-style">
              <%= check_box_tag "product_types[]",product, params[:product_types]&.include?(product) %>
              <%= label_tag "product_types[]", product %>
            </div>
          <% end %>
          <%= submit_tag 'Search', class: "show-button mt-4" %>
        <% end %>
      </div>
      <div class="product-cards d-flex flex-wrap gap-3 align-self-start ms-5" data-controller="scroll-reveal">
        <% @products.each do |product| %>
          <%= link_to product_path(product) do %>
            <%= render "shared/card_product", product: product %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%#= collection_check_boxes :sector,  as: :check_boxes, input_html: {value: ""}, label: "Choose an industry" %>
<%#= f.input :product_type, collection: Product.product_types.keys, as: :check_boxes, input_html: {value: ""}, label: "Choose a product type" %>
