<div class="page">
  <div class="container">
    <div class="display-cards">
      <h1 class="page-header">Products</h1>

      <div class="search-form">
        <p>Refine your search:</p>
        <%= simple_form_for :search, url: products_path, method: "GET", html: { class: 'form-inline' } do |f| %>
          <%= f.input :sector, collection: Product::SECTORS, as: :check_boxes, input_html: {value: ""} %>
          <%= f.submit 'Search', class: "btn btn-flat"%>
        <% end %>
      </div>

      <div class="cards">
        <% @products.each do |product| %>
          <%= link_to product_path(product) do %>
            <div class="card-product">
              <div class="card-product-infos">
                <div>
                  <h2> <%= product.name %> </h2>
                  <p><%= product.ticker %></p>
                  <p> <%= product.product_type %></p>
                  <p> issues...  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
