 <% if @product.product_type == "Company"  %>
  <%= render "shared/company" %>
<% else %>
  <div class="product-show">
    <div class="product-banner">
      <h1 class="banner-h1"><%= @product.name %> / <%= @product.ticker %></h1>
      <div class="product-show-buttons">
        <%= simple_form_for(@product, url: toggle_favorite_product_path, method: :post) do |f| %>
          <% if current_user  %>
            <%= f.button  :button, class:"like-button #{'red-button' if current_user.favorited?(@product)}" do %>
              <%= link_to "", product_path(@product), data: {turbo_method: :toggle_favorite, turbo_confirm: "Added to favorites list"} %>
              <i class="fa-solid fa-heart"></i>
            <% end %>
          <% else %>
            <%=  f.button  :button, as: :submit, class:"like-button", data:{disable_with: false} do %>
              <i class="fa-solid fa-heart"></i>
            <% end %>
          <% end %>
        <% end %>
        <div class="show-button-mg"><a href="https://robinhood.com/us/en/" target="_blank" class="show-button">Buy</a></div>
        <div class="show-button-mg1"><%= simple_form_for([@product, @compare_product]) do |f| %>
            <%= f.submit "compare", class: "show-button" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="product-info">
        <div class="esg-container" data-controller="scores">
          <div class="esg-rating">
            <h2>ESG <br>
              RATINGS</h2>
            <button type="button" class="modal-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Read more
            </button>
          </div>
          <div class="esg-box">
            <h3>OVERALL</h3>
            <span class="num" data-scores-target="num" data-val="<%= @product.esg_score %>">000</span>
            <span class="text"><i class="fa-solid fa-caret-right"></i> <%= @product.esg_level %></span>
          </div>
          <div class="esg-box-environment">
            <h3>ENVIRONMENT</h3>
            <span class="num" data-scores-target="num" data-val="<%= @product.er_score %>">000</span>
            <span class="text"><i class="fa-solid fa-caret-right"></i> <%= @product.e_level %></span>
          </div>
          <div class="esg-box-social">
            <h3>SOCIAL</h3>
            <span class="num" data-scores-target="num" data-val="<%= @product.sr_score %>">000</span>
            <span class="text"><i class="fa-solid fa-caret-right"></i> <%= @product.s_level %></span>
          </div>
          <div class="esg-box-governance">
            <h3>GOVERNANCE</h3>
            <span class="num" data-scores-target="num" data-val="<%= @product.gr_score %> ">000</span>
            <span class="text"><i class="fa-solid fa-caret-right"></i> <%= @product.g_level %></span>
          </div>
        </div>
        <div class="stock-info">
          <div id="container" style="height: 500px; width: 500px"></div>
          <div class="description-card">
            <p id="description-text"><%= @product.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">What are ESG scores?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Enivronmental, Social and Governance or ESG scores are a framework used by many companies to assess and understand a company's priorities as well as long term risks.</p>
        <p>Environmental aspect: focuses on preserving the natural world. Examples of topics addressed include climate change, greenhouse gas emissions, biodiversity loss, deforestation, pollution, energy efficiency and water management.</p>
        <p>Social aspect: focuses on people and relationships include working to support gender and diversity, equity, and inclusion movements in addition to enhancing customer satisfaction and employee engagement.</p>
        <p>Governance aspect: focuses on moving beyond how organizations have been typically governed in the past and enhance corporate governance. Examples of specific topics include board composition, cybersecurity practices, management structure, executive compensation, preventing bribary and corruption.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="show-button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  anychart.onDocumentReady(function () {
    anychart.data.loadCsvFile('/AAPL.csv',
    function (data) {
    // create data table on loaded data
    var dataTable = anychart.data.table();
    dataTable.addData(data);

    // map loaded data for the candlestick series
    var mapping = dataTable.mapAs({
      open: 1,
      high: 2,
      low: 3,
      close: 4
    });
          var chart = anychart.stock();

  // create first plot on the chart
  var plot = chart.plot(0);

  // set grid settings
  plot.yGrid(true).xGrid(true).yMinorGrid(true).xMinorGrid(true);
  var series = plot.candlestick(mapping)
    .name('Apple');

  series.legendItem().iconType('rising-falling');

  // create scroller series with mapped data
  chart.scroller().candlestick(mapping);

  // set chart selected date/time range
  chart.selectRange('2019-11-27', '2022-08-23');

  // create range picker
  var rangePicker = anychart.ui.rangePicker();

  // init range picker
  rangePicker.render(chart);

  // create range selector
  var rangeSelector = anychart.ui.rangeSelector();

  // init range selector
  rangeSelector.render(chart);

  // sets the title of the chart
  chart.title('Tesla Inc. Stock Chart');

  // set container id for the chart
  chart.container('container');

  // initiate chart drawing
  chart.draw();
  }
    );
  });

  // ESG
</script>
