<div class="product-top">
  <h1 id="show-header"><%= @product.name %> / <%= @product.ticker %></h1>
  <button class="yellow-button">follow</button>
  <%= simple_form_for(@product, url: toggle_favorite_product_path, method: :post) do |f| %>
    <%= f.button  :button, class:"like-button #{'red-button' if current_user.favorited?(@product)}" do %>
      <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        <path d="M91.6 13A28.7 28.7 0 0 0 51 13l-1 1-1-1A28.7 28.7 0 0 0 8.4 53.8l1 1L50 95.3l40.5-40.6 1-1a28.6 28.6 0 0 0 0-40.6z"/></svg>
    <% end %>
  <% end %>
  <div class="show-button-mg"><%= link_to "Buy", "https://robinhood.com/us/en/", class: "show-button"%></div>
  <div class="show-button-mg"><%= link_to "Favourite", "https://robinhood.com/us/en/", class: "show-button"%></div>
</div>
<div class="stock-info">
  <div class="esg-container">
    <div class="esg-rating">
      <h2>ESG <br>
        RATINGS</h2>
    </div>
    <div class="esg-box">
      <h3>OVERALL</h3>
      <span class="num" data-val="<%= @product.esg_score %>">000</span>
      <span class="text"><%= @product.esg_grade %></span>
      <span class="text"><%= @product.esg_level %></span>
    </div>
    <div class="esg-box">
      <h3>ENVIRONMENT</h3>
      <span class="num" data-val="<%= @product.er_score %>">000</span>
      <span class="text"><%= @product.e_grade %></span>
      <span class="text"><%= @product.e_level %></span>
    </div>
    <div class="esg-box">
      <h3>SOCIAL</h3>
      <span class="num" data-val="<%= @product.sr_score %>">000</span>
      <span class="text"><%= @product.s_grade %></span>
      <span class="text"><%= @product.s_level %></span>
    </div>
    <div class="esg-box">
      <h3>GOVERNANCE</h3>
      <span class="num" data-val="<%= @product.gr_score %> ">000</span>
      <span class="text"><%= @product.g_grade %></span>
      <span class="text"><%= @product.g_level %></span>
    </div>
  </div>
  <%# <p>graphs, scores, issues etc</p> %>
  <div id="container" style="height: 600px"></div>
</div>
<div class="description-card">
  <ul id="description-text"><%= @product.description %></ul>
</div>
<script>
  anychart.onDocumentReady(function () {
    anychart.data.loadCsvFile('/AAPL.csv',
    function (data) {
    // create data table on loaded data
    var dataTable = anychart.data.table();
    dataTable.addData(data);

    // map loaded data for the candlestick series
    var mapping = dataTable.mapAs({
      open: 1,
      high: 2,
      low: 3,
      close: 4
    });
          var chart = anychart.stock();

  // create first plot on the chart
  var plot = chart.plot(0);

  // set grid settings
  plot.yGrid(true).xGrid(true).yMinorGrid(true).xMinorGrid(true);
  var series = plot.candlestick(mapping)
    .name('Apple');

  series.legendItem().iconType('rising-falling');

  // create scroller series with mapped data
  chart.scroller().candlestick(mapping);

  // set chart selected date/time range
  chart.selectRange('2019-11-27', '2022-08-23');

  // create range picker
  var rangePicker = anychart.ui.rangePicker();

  // init range picker
  rangePicker.render(chart);

  // create range selector
  var rangeSelector = anychart.ui.rangeSelector();

  // init range selector
  rangeSelector.render(chart);

  // sets the title of the chart
  chart.title('Tesla Inc. Stock Chart');

  // set container id for the chart
  chart.container('container');

  // initiate chart drawing
  chart.draw();
  }
    );
  });

  // ESG

  let valueDisplays = document.querySelectorAll(".num");
  let interval = 4000;

  valueDisplays.forEach((valueDisplay) => {
  let startValue = 0;
  let endValue = parseInt(valueDisplay.getAttribute("data-val"));
  let duration = Math.floor(interval / endValue);
  let counter = setInterval(function () {
    startValue += 1;
    valueDisplay.textContent = startValue;
    if (startValue == endValue) {
      clearInterval(counter);
    }
  }, duration);
  });
</script>
