<div class="product-top">
  <h1 id="show-header"><%= @product.name %> / <%= @product.ticker %>
  </h1>
  <%# <button class="yellow-button">follow</button> %>
  <%= simple_form_for(@product, url: toggle_favorite_product_path, method: :post) do |f| %>
    <%= f.button  :button, class:"like-button #{'red-button' if current_user.favorited?(@product)}" do %>
      <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        <path d="M91.6 13A28.7 28.7 0 0 0 51 13l-1 1-1-1A28.7 28.7 0 0 0 8.4 53.8l1 1L50 95.3l40.5-40.6 1-1a28.6 28.6 0 0 0 0-40.6z"/></svg>
    <% end %>
  <% end %>
  <%# <div>
  <%# <h1 id="show-header"><%= @product.name %>  <%#= @product.ticker %>
  <div class="show-button-mg"><%= link_to "Buy", "https://robinhood.com/us/en/", class: "show-button"%></div>
  <div class="show-button-mg"><%= link_to "Favourite", "https://robinhood.com/us/en/", class: "show-button"%></div>
</div>
<div class="description-card">
  <ul id="description-text"><%= @product.description %></ul>
</div>
<div class="container">
  <div class="d-flex justify-content-center mt-5">
    <div class="esg-card">
      <div class="product-cards d-flex flex-wrap gap-3 align-self-start">
        <div class="card-esg ">
          <div class="card-head-esg all">
            <div class="back-text truncate">
            </div>
          </div>
          <div class="card-body-esg">
            <div class="product-desc">
              <h2 class="esg-title truncate">
                Overall
              </h2>
              <span class="esg-caption">
              </span>
            </div>
            <div class="d-flex flex-column-reverse justify-content-center">
              <p> <%= @product.esg_grade %> </p>
              <p> <%= @product.esg_score %> </p>
              <p> <%= @product.esg_level %> </p>
            </div>
            <div class="esg-properties">
              <span class="badge truncate">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column ">
      <div class="esg-long">
        <div class="card-head-side card-head-side-env">
          <div class="back-text-esg truncate">
            <span>E</span>
          </div>
        </div>
        <div class="product-cards d-flex flex-wrap gap-3 align-self-start">
          <div class="product-desc">
            <div class="esg-long-infos d-flex flex-row">
              <div class="esg-info">
                <h2> Grade </h2>
                <p> <%= @product.e_grade %> </p>
              </div>
              <div class="esg-info">
                <h2>Score</h2>
                <p> <%= @product.er_score %> </p>
              </div>
              <div class="esg-info">
                <h2>Level</h2>
                <p> <%= @product.e_level %> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="esg-long">
        <div class="card-head-side card-head-side-soc">
          <div class="back-text-esg  truncate">
            <span>S</span>
          </div>
        </div>
        <div class="product-cards d-flex flex-wrap gap-3 align-self-start">
          <div class="product-desc">
            <div class="esg-long-infos d-flex flex-row">
              <div class="esg-info">
                <h2> Grade </h2>
                <p> <%= @product.s_grade %> </p>
              </div>
              <div class="esg-info">
                <h2>Score</h2>
                <p> <%= @product.sr_score %> </p>
              </div>
              <div class="esg-info">
                <h2>Level</h2>
                <p> <%= @product.s_level %> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="esg-long">
        <div class="card-head-side card-head-side-gov">
          <div class="back-text-esg truncate">
            <span>G</span>
          </div>
        </div>
        <div class="product-cards d-flex flex-wrap gap-3 align-self-start">
          <div class="product-desc">
            <div class="esg-long-infos d-flex flex-row">
              <div class="esg-info">
                <h2> Grade </h2>
                <p> <%= @product.g_grade %> </p>
              </div>
              <div class="esg-info">
                <h2>Score</h2>
                <p> <%= @product.gr_score %> </p>
              </div>
              <div class="esg-info">
                <h2>Level</h2>
                <p> <%= @product.g_level %> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%# <p>graphs, scores, issues etc</p> %>
<div id="container" style="height: 600px"></div>
<script>
  anychart.onDocumentReady(function () {
    anychart.data.loadCsvFile('/AAPL.csv',
    function (data) {
    // create data table on loaded data
    var dataTable = anychart.data.table();
    dataTable.addData(data);

    // map loaded data for the candlestick series
    var mapping = dataTable.mapAs({
      open: 1,
      high: 2,
      low: 3,
      close: 4
    });
          var chart = anychart.stock();

  // create first plot on the chart
  var plot = chart.plot(0);

  // set grid settings
  plot.yGrid(true).xGrid(true).yMinorGrid(true).xMinorGrid(true);
  var series = plot.candlestick(mapping)
    .name('Apple');

  series.legendItem().iconType('rising-falling');

  // create scroller series with mapped data
  chart.scroller().candlestick(mapping);

  // set chart selected date/time range
  chart.selectRange('2019-11-27', '2022-08-23');

  // create range picker
  var rangePicker = anychart.ui.rangePicker();

  // init range picker
  rangePicker.render(chart);

  // create range selector
  var rangeSelector = anychart.ui.rangeSelector();

  // init range selector
  rangeSelector.render(chart);

  // sets the title of the chart
  chart.title('Tesla Inc. Stock Chart');

  // set container id for the chart
  chart.container('container');

  // initiate chart drawing
  chart.draw();
  }
    );
  });
</script>
